<div class="container">
  <div class="row">
      <div class="col-6">
          <ul class="users_menu">
              {{#each data}}
                  <li><a href="carts/{{_id}}/">{{name}}</a></li>
              {{/each}}
          </ul>
      </div>
  </div>
</div>