<div class="container">
  <div class="row">
    <div class="col">
      <h2>Все лекарства:</h2>
      <ul class="all_drugs">
        {{#each data}}
          <a href="/medications/{{_id}}"><li><div class="drugs_text">{{name}}</div> <img src="{{image}}" alt=""><div class="drugs_price">{{price}} ₽</div></li></a>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
    {{!-- offset-3 --}}