<div class="container">
  <div class="row">
    <div class="col">
      <h1>Drugs by category:</h1>
      <ul class="category_med">
        {{#each data}}
          <li><a href="/medications/categories/{{_id}}">{{name}}</a></li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>