<div class="container">
  <div class="row">
    <div class="col-5 bg_white">
      <h2>{{data.name}}</h2>
      <hr>
      <div class="img_med"><img src="{{data.image}}" alt=""></div>
    </div>
    <div class="col">
      <h2>Price: {{data.price}}</h2>
      <a class="cart_link" href="/carts/{{data._id}}/610535c13d309d19383ceca4">Добавить в корзину</a>
    </div>
  </div>
</div>