* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background-color: #edf0f2;
}

.header_nav {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  background-color: #2ad1c5;
  padding: 10px;
  border-radius: 5px;
  margin-top: 1px;
}
.header_nav li a {
  color: white;
  text-decoration: none;
  font-weight: 700;
}
.header_nav li a:hover {
  color: yellow;
}

.categ_nav {
  list-style-type: none;
  padding-left: 0px;
}

.categ_nav li {
  width: 150px;
  border-radius: 5px;
  padding: 4px;
  margin-top: 5px;
  background-color: white;
}

.categ_nav li a {
  text-decoration: none;
  color: black;
  display: inline-block;
  font-weight: 500;
}

.categ_nav li a:hover {
  color: #2ad1c5;
}

.category_med {
  list-style-type: none;
  padding-left: 0px;
}

.category_med li {
  margin-top: 15px;
}

.category_med li a {
  text-decoration: none;
  color: #0a1128;
  font-size: 20px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  border-radius: 5px;
  padding: 3px;
}

.category_med li a:hover {
  color: #26c5f3;
}

.img_med img {
  width: 400px;
}

h2 {
  color: #023047;
}

.cart_link {
  text-decoration: none;
  background-color: #2ad1c5;
  padding: 10px;
  display: inline-block;
  margin-top: 10px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}

.cart_link:hover {
  color: yellow;
}

.bg_white {
  background-color: white;
  margin-left: 13px;
  border-radius: 10px;
}

.all_drugs {
  list-style-type: none;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.all_drugs li {
  background-color: white;
  width: 200px;
  height: 240px;
  border-radius: 10px;
}

.all_drugs li:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.all_drugs a {
  text-decoration: none;
  color: #023047;
}

.all_drugs li img {
  width: 150px;
  margin-left: 30px;
}

.drugs_text {
  margin: 15px;
  padding-top: 10px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #2ad1c5;
}

.drugs_price {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.users_menu {
  list-style-type: none;
  padding: 0px;
}

.users_menu li a {
  text-decoration: none;
  color: #293241;
}

.users_menu li a:hover {
  border-bottom: 2px solid #168aad;
}

.cart_item {
  font-size: 20px;
  margin-top: 20px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}

.cart_item:hover {
  box-shadow: 0 0 10px #2ad1c5;
}

.cart_item img {
  width: 150px;
}

.cart_item span {
  width: 130px;
}

.bi {
  color: red;
}

.total {
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn_buy {
  background: #fff;
  border: 1px solid #2ad1c5;
  border-radius: 10px;
  font-size: 18px;
  line-height: 24px;
  color: #2ad1c5;
  padding: 5px 18px;
  text-align: center;
  text-decoration: none;
  transition: 0.5s;
  display: inline-block;
  margin-bottom: 150px;
}
.btn_clear {
  background: #fff;
  border: 1px solid #ef233c;
  border-radius: 10px;
  font-size: 18px;
  line-height: 24px;
  color: #ef233c;
  padding: 5px 18px;
  text-align: center;
  text-decoration: none;
  transition: 0.5s;
  display: inline-block;
  margin-bottom: 150px;
}

.btn_replenish {
  background: #fff;
  border: 1px solid #2ad1c5;
  border-radius: 10px;
  font-size: 18px;
  line-height: 24px;
  color: #2ad1c5;
  padding: 5px 18px;
  text-align: center;
  text-decoration: none;
  transition: 0.5s;
  display: inline-block;
}

.btn_clear:hover {
  background-color: #ef233c;
  color: #fff;
}

.btn_buy:hover,
.btn_replenish:hover {
  background-color: #2ad1c5;
  color: #fff;
}

.recipe {
  margin-top: 10px;
  font-weight: 700;
}

.money {
  font-size: 18px;
  font-weight: 700;
  background-color: #219ebc;
  color: white;
  padding: 6px;
  border-radius: 6px;
}
